In [ ]:
import pandas as pd

df = pd.read_csv('/content/tmdb_top_rated_movies.csv')

In [ ]:
df

,id,original_language,overview,release_date,title,popularity,vote_average,vote_count
0,278,en,Imprisoned in the 1940s for the double murder ...,1994-09-23,The Shawshank Redemption,35.0440,8.708,28176
1,238,en,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,The Godfather,36.3040,8.687,21363
2,240,en,In the continuing saga of the Corleone crime f...,1974-12-20,The Godfather Part II,17.2441,8.570,12910
3,424,en,The true story of how businessman Oskar Schind...,1993-12-15,Schindler's List,37.5490,8.564,16380
4,389,en,The defense and the prosecution have rested an...,1957-04-10,12 Angry Men,17.0033,8.548,9091
...,...,...,...,...,...,...,...,...
9995,340674,en,"Tadek, a Polish detective, becomes suspicious ...",2016-10-12,Dark Crimes,1.7494,4.602,451
9996,16780,en,After a group of Texas teenagers leave prom ni...,1995-09-22,The Return of the Texas Chainsaw Massacre,3.6004,4.595,693
9997,455551,en,When five friends vacation at a remote lake ho...,2017-06-02,The Recall,2.5171,4.585,346
9998,11411,en,With global superpowers engaged in an increasi...,1987-07-24,Superman IV: The Quest for Peace,4.3324,4.583,1281
9999,10285,en,Jason Voorhees is tracked down and blown to bi...,1993-08-13,Jason Goes to Hell: The Final Friday,2.8208,4.600,1027

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   original_language  10000 non-null  object
 2   overview           10000 non-null  object
 3   release_date       9998 non-null   object
 4   title              10000 non-null  object
 5   popularity         10000 non-null  float64
 6   vote_average       10000 non-null  float64
 7   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 625.1+ KB

In [ ]:
df.isna().sum()

id                   0
original_language    0
overview             0
release_date         2
title                0
popularity           0
vote_average         0
vote_count           0
dtype: int64

In [ ]:
df=df.dropna()
df.isna().sum()

id                   0
original_language    0
overview             0
release_date         0
title                0
popularity           0
vote_average         0
vote_count           0
dtype: int64

In [ ]:
check_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {check_duplicate}")

Jumlah data yang duplikat = 213

In [ ]:
df = df.drop_duplicates()

In [ ]:
handle_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {handle_duplicate}")

Jumlah data yang duplikat = 0

In [ ]:
import pandas as pd
import numpy as np

def handle_outliers(df):
  numerical_cols = df.select_dtypes(include=np.number).columns
  for col in numerical_cols:
    Q1, Q3 = df[col].quantile(0.25), df[col].quantile(0.75)
    IQR = Q3 - Q1
    upper_bound = Q3 + 1.5 * IQR
    lower_bound = Q1 - 1.5 * IQR
    df[col] = np.clip(df[col], lower_bound, upper_bound)
  return df

# Usage:
df = handle_outliers(df)